:root {
  --wwwitscardcokralto: rgba(221, 221, 221, 1);
  --wwwitscardcokrblack: rgba(0, 0, 0, 1);
  --wwwitscardcokrcerulean: rgba(0, 173, 239, 1);
  --wwwitscardcokrgallery: rgba(238, 238, 238, 1);
  --wwwitscardcokrmine-shaft: rgba(34, 34, 34, 1);
  --www-itscard-co-kr-inter-bold-18-28-font-family: "Inter", Helvetica;
  --www-itscard-co-kr-inter-bold-18-28-font-weight: 700;
  --www-itscard-co-kr-inter-bold-18-28-font-size: 18.28125px;
  --www-itscard-co-kr-inter-bold-18-28-letter-spacing: 0px;
  --www-itscard-co-kr-inter-bold-18-28-line-height: 60px;
  --www-itscard-co-kr-inter-bold-18-28-font-style: normal;
  --www-itscard-co-kr-inter-bold-24-font-family: "Inter", Helvetica;
  --www-itscard-co-kr-inter-bold-24-font-weight: 700;
  --www-itscard-co-kr-inter-bold-24-font-size: 24px;
  --www-itscard-co-kr-inter-bold-24-letter-spacing: 0px;
  --www-itscard-co-kr-inter-bold-24-line-height: 84px;
  --www-itscard-co-kr-inter-bold-24-font-style: normal;
  --www-itscard-co-kr-inter-regular-20-font-family: "Inter", Helvetica;
  --www-itscard-co-kr-inter-regular-20-font-weight: 400;
  --www-itscard-co-kr-inter-regular-20-font-size: 20px;
  --www-itscard-co-kr-inter-regular-20-letter-spacing: 0px;
  --www-itscard-co-kr-inter-regular-20-line-height: 60px;
  --www-itscard-co-kr-inter-regular-20-font-style: normal;
  --www-itscard-co-kr-inter-regular-23-44-font-family: "Inter", Helvetica;
  --www-itscard-co-kr-inter-regular-23-44-font-weight: 400;
  --www-itscard-co-kr-inter-regular-23-44-font-size: 23.4375px;
  --www-itscard-co-kr-inter-regular-23-44-letter-spacing: 2.4000000953674316px;
  --www-itscard-co-kr-inter-regular-23-44-line-height: 36px;
  --www-itscard-co-kr-inter-regular-23-44-font-style: normal;
  --www-itscard-co-kr-inter-regular-18-75-font-family: "Inter", Helvetica;
  --www-itscard-co-kr-inter-regular-18-75-font-weight: 400;
  --www-itscard-co-kr-inter-regular-18-75-font-size: 18.75px;
  --www-itscard-co-kr-inter-regular-18-75-letter-spacing: 0px;
  --www-itscard-co-kr-inter-regular-18-75-line-height: 60px;
  --www-itscard-co-kr-inter-regular-18-75-font-style: normal;
  --www-itscard-co-kr-inter-bold-20-font-family: "Inter", Helvetica;
  --www-itscard-co-kr-inter-bold-20-font-weight: 700;
  --www-itscard-co-kr-inter-bold-20-font-size: 20px;
  --www-itscard-co-kr-inter-bold-20-letter-spacing: 0px;
  --www-itscard-co-kr-inter-bold-20-line-height: 60px;
  --www-itscard-co-kr-inter-bold-20-font-style: normal;
  --www-itscard-co-kr-inter-regular-24-font-family: "Inter", Helvetica;
  --www-itscard-co-kr-inter-regular-24-font-weight: 400;
  --www-itscard-co-kr-inter-regular-24-font-size: 24px;
  --www-itscard-co-kr-inter-regular-24-letter-spacing: 0px;
  --www-itscard-co-kr-inter-regular-24-line-height: 84px;
  --www-itscard-co-kr-inter-regular-24-font-style: normal;
  --www-itscard-co-kr-inter-regular-27-89-font-family: "Inter", Helvetica;
  --www-itscard-co-kr-inter-regular-27-89-font-weight: 400;
  --www-itscard-co-kr-inter-regular-27-89-font-size: 27.890625px;
  --www-itscard-co-kr-inter-regular-27-89-letter-spacing: 0px;
  --www-itscard-co-kr-inter-regular-27-89-line-height: 80px;
  --www-itscard-co-kr-inter-regular-27-89-font-style: normal;
  --www-itscard-co-kr-inter-regular-28-font-family: "Inter", Helvetica;
  --www-itscard-co-kr-inter-regular-28-font-weight: 400;
  --www-itscard-co-kr-inter-regular-28-font-size: 28px;
  --www-itscard-co-kr-inter-regular-28-letter-spacing: 0px;
  --www-itscard-co-kr-inter-regular-28-line-height: 80px;
  --www-itscard-co-kr-inter-regular-28-font-style: normal;
  --www-itscard-co-kr-kopub-batang-regular-22-font-family: "KoPub Batang", Helvetica;
  --www-itscard-co-kr-kopub-batang-regular-22-font-weight: 400;
  --www-itscard-co-kr-kopub-batang-regular-22-font-size: 22px;
  --www-itscard-co-kr-kopub-batang-regular-22-letter-spacing: 4.4029998779296875px;
  --www-itscard-co-kr-kopub-batang-regular-22-line-height: 22.020000457763672px;
  --www-itscard-co-kr-kopub-batang-regular-22-font-style: normal;
  --www-itscard-co-kr-kopub-batang-regular-28-font-family: "KoPub Batang", Helvetica;
  --www-itscard-co-kr-kopub-batang-regular-28-font-weight: 400;
  --www-itscard-co-kr-kopub-batang-regular-28-font-size: 28px;
  --www-itscard-co-kr-kopub-batang-regular-28-letter-spacing: 5.599999904632568px;
  --www-itscard-co-kr-kopub-batang-regular-28-line-height: 28px;
  --www-itscard-co-kr-kopub-batang-regular-28-font-style: normal;
  --www-itscard-co-kr-kopub-batang-light-24-font-family: "KoPub Batang", Helvetica;
  --www-itscard-co-kr-kopub-batang-light-24-font-weight: 300;
  --www-itscard-co-kr-kopub-batang-light-24-font-size: 24px;
  --www-itscard-co-kr-kopub-batang-light-24-letter-spacing: 0px;
  --www-itscard-co-kr-kopub-batang-light-24-line-height: 32px;
  --www-itscard-co-kr-kopub-batang-light-24-font-style: normal;
  --www-itscard-co-kr-malgun-gothic-bold-24-font-family: "Malgun Gothic", Helvetica;
  --www-itscard-co-kr-malgun-gothic-bold-24-font-weight: 700;
  --www-itscard-co-kr-malgun-gothic-bold-24-font-size: 24px;
  --www-itscard-co-kr-malgun-gothic-bold-24-letter-spacing: 0px;
  --www-itscard-co-kr-malgun-gothic-bold-24-line-height: 84px;
  --www-itscard-co-kr-malgun-gothic-bold-24-font-style: normal;
  --www-itscard-co-kr-nanumgothic-regular-24-font-family: "NanumGothic", Helvetica;
  --www-itscard-co-kr-nanumgothic-regular-24-font-weight: 400;
  --www-itscard-co-kr-nanumgothic-regular-24-font-size: 24px;
  --www-itscard-co-kr-nanumgothic-regular-24-letter-spacing: 0px;
  --www-itscard-co-kr-nanumgothic-regular-24-line-height: 84px;
  --www-itscard-co-kr-nanumgothic-regular-24-font-style: normal;
  --www-itscard-co-kr-nanummyeongjo-regular-18-73-font-family: "NanumMyeongjo", Helvetica;
  --www-itscard-co-kr-nanummyeongjo-regular-18-73-font-weight: 400;
  --www-itscard-co-kr-nanummyeongjo-regular-18-73-font-size: 18.734375px;
  --www-itscard-co-kr-nanummyeongjo-regular-18-73-letter-spacing: 0px;
  --www-itscard-co-kr-nanummyeongjo-regular-18-73-line-height: 30.020000457763672px;
  --www-itscard-co-kr-nanummyeongjo-regular-18-73-font-style: normal;
  --www-itscard-co-kr-nanummyeongjo-regular-20-font-family: "NanumMyeongjo", Helvetica;
  --www-itscard-co-kr-nanummyeongjo-regular-20-font-weight: 400;
  --www-itscard-co-kr-nanummyeongjo-regular-20-font-size: 20px;
  --www-itscard-co-kr-nanummyeongjo-regular-20-letter-spacing: 0px;
  --www-itscard-co-kr-nanummyeongjo-regular-20-line-height: 52px;
  --www-itscard-co-kr-nanummyeongjo-regular-20-font-style: normal;
  --www-itscard-co-kr-nanummyeongjo-regular-22-95-font-family: "NanumMyeongjo", Helvetica;
  --www-itscard-co-kr-nanummyeongjo-regular-22-95-font-weight: 400;
  --www-itscard-co-kr-nanummyeongjo-regular-22-95-font-size: 22.953125px;
  --www-itscard-co-kr-nanummyeongjo-regular-22-95-letter-spacing: 0px;
  --www-itscard-co-kr-nanummyeongjo-regular-22-95-line-height: 48px;
  --www-itscard-co-kr-nanummyeongjo-regular-22-95-font-style: normal;
  --www-itscard-co-kr-nanummyeongjo-regular-24-font-family: "NanumMyeongjo", Helvetica;
  --www-itscard-co-kr-nanummyeongjo-regular-24-font-weight: 400;
  --www-itscard-co-kr-nanummyeongjo-regular-24-font-size: 24px;
  --www-itscard-co-kr-nanummyeongjo-regular-24-letter-spacing: 2.4000000953674316px;
  --www-itscard-co-kr-nanummyeongjo-regular-24-line-height: 48px;
  --www-itscard-co-kr-nanummyeongjo-regular-24-font-style: normal;
  --www-itscard-co-kr-nanummyeongjo-regular-26-font-family: "NanumMyeongjo", Helvetica;
  --www-itscard-co-kr-nanummyeongjo-regular-26-font-weight: 400;
  --www-itscard-co-kr-nanummyeongjo-regular-26-font-size: 26px;
  --www-itscard-co-kr-nanummyeongjo-regular-26-letter-spacing: 0px;
  --www-itscard-co-kr-nanummyeongjo-regular-26-line-height: 48px;
  --www-itscard-co-kr-nanummyeongjo-regular-26-font-style: normal;
  --www-itscard-co-kr-nanummyeongjo-regular-32-font-family: "NanumMyeongjo", Helvetica;
  --www-itscard-co-kr-nanummyeongjo-regular-32-font-weight: 400;
  --www-itscard-co-kr-nanummyeongjo-regular-32-font-size: 32px;
  --www-itscard-co-kr-nanummyeongjo-regular-32-letter-spacing: 0px;
  --www-itscard-co-kr-nanummyeongjo-regular-32-line-height: 48px;
  --www-itscard-co-kr-nanummyeongjo-regular-32-font-style: normal;
  --www-itscard-co-kr-nanummyeongjo-regular-12-19-font-family: "NanumMyeongjo", Helvetica;
  --www-itscard-co-kr-nanummyeongjo-regular-12-19-font-weight: 400;
  --www-itscard-co-kr-nanummyeongjo-regular-12-19-font-size: 12.1875px;
  --www-itscard-co-kr-nanummyeongjo-regular-12-19-letter-spacing: 8px;
  --www-itscard-co-kr-nanummyeongjo-regular-12-19-line-height: 30px;
  --www-itscard-co-kr-nanummyeongjo-regular-12-19-font-style: normal;
  --www-itscard-co-kr-noto-sans-KR-bold-26-font-family: "Noto Sans KR", Helvetica;
  --www-itscard-co-kr-noto-sans-KR-bold-26-font-weight: 700;
  --www-itscard-co-kr-noto-sans-KR-bold-26-font-size: 26px;
  --www-itscard-co-kr-noto-sans-KR-bold-26-letter-spacing: 0px;
  --www-itscard-co-kr-noto-sans-KR-bold-26-line-height: 80px;
  --www-itscard-co-kr-noto-sans-KR-bold-26-font-style: normal;
  --www-itscard-co-kr-noto-sans-KR-demilight-22-font-family: "Noto Sans KR", Helvetica;
  --www-itscard-co-kr-noto-sans-KR-demilight-22-font-weight: 300;
  --www-itscard-co-kr-noto-sans-KR-demilight-22-font-size: 22px;
  --www-itscard-co-kr-noto-sans-KR-demilight-22-letter-spacing: 0px;
  --www-itscard-co-kr-noto-sans-KR-demilight-22-line-height: 40px;
  --www-itscard-co-kr-noto-sans-KR-demilight-22-font-style: normal;
  --www-itscard-co-kr-noto-sans-KR-demilight-24-font-family: "Noto Sans KR", Helvetica;
  --www-itscard-co-kr-noto-sans-KR-demilight-24-font-weight: 300;
  --www-itscard-co-kr-noto-sans-KR-demilight-24-font-size: 24px;
  --www-itscard-co-kr-noto-sans-KR-demilight-24-letter-spacing: 0px;
  --www-itscard-co-kr-noto-sans-KR-demilight-24-line-height: 40px;
  --www-itscard-co-kr-noto-sans-KR-demilight-24-font-style: normal;
  --www-itscard-co-kr-noto-sans-KR-demilight-26-font-family: "Noto Sans KR", Helvetica;
  --www-itscard-co-kr-noto-sans-KR-demilight-26-font-weight: 300;
  --www-itscard-co-kr-noto-sans-KR-demilight-26-font-size: 26px;
  --www-itscard-co-kr-noto-sans-KR-demilight-26-letter-spacing: 0px;
  --www-itscard-co-kr-noto-sans-KR-demilight-26-line-height: 80px;
  --www-itscard-co-kr-noto-sans-KR-demilight-26-font-style: normal;
  --www-itscard-co-kr-noto-sans-KR-demilight-28-font-family: "Noto Sans KR", Helvetica;
  --www-itscard-co-kr-noto-sans-KR-demilight-28-font-weight: 300;
  --www-itscard-co-kr-noto-sans-KR-demilight-28-font-size: 28px;
  --www-itscard-co-kr-noto-sans-KR-demilight-28-letter-spacing: 0px;
  --www-itscard-co-kr-noto-sans-KR-demilight-28-line-height: 80px;
  --www-itscard-co-kr-noto-sans-KR-demilight-28-font-style: normal;
  --www-itscard-co-kr-noto-sans-KR-demilight-30-font-family: "Noto Sans KR", Helvetica;
  --www-itscard-co-kr-noto-sans-KR-demilight-30-font-weight: 300;
  --www-itscard-co-kr-noto-sans-KR-demilight-30-font-size: 30px;
  --www-itscard-co-kr-noto-sans-KR-demilight-30-letter-spacing: 0px;
  --www-itscard-co-kr-noto-sans-KR-demilight-30-line-height: 36px;
  --www-itscard-co-kr-noto-sans-KR-demilight-30-font-style: normal;
  --www-itscard-co-kr-noto-sans-KR-light-24-font-family: "Noto Sans KR", Helvetica;
  --www-itscard-co-kr-noto-sans-KR-light-24-font-weight: 300;
  --www-itscard-co-kr-noto-sans-KR-light-24-font-size: 24px;
  --www-itscard-co-kr-noto-sans-KR-light-24-letter-spacing: 0px;
  --www-itscard-co-kr-noto-sans-KR-light-24-line-height: 24px;
  --www-itscard-co-kr-noto-sans-KR-light-24-font-style: normal;
  --www-itscard-co-kr-noto-sans-KR-light-26-font-family: "Noto Sans KR", Helvetica;
  --www-itscard-co-kr-noto-sans-KR-light-26-font-weight: 300;
  --www-itscard-co-kr-noto-sans-KR-light-26-font-size: 26px;
  --www-itscard-co-kr-noto-sans-KR-light-26-letter-spacing: 0px;
  --www-itscard-co-kr-noto-sans-KR-light-26-line-height: 36px;
  --www-itscard-co-kr-noto-sans-KR-light-26-font-style: normal;
  --www-itscard-co-kr-semantic-button-font-family: "Noto Sans KR", Helvetica;
  --www-itscard-co-kr-semantic-button-font-weight: 300;
  --www-itscard-co-kr-semantic-button-font-size: 26px;
  --www-itscard-co-kr-semantic-button-letter-spacing: 0px;
  --www-itscard-co-kr-semantic-button-line-height: 80px;
  --www-itscard-co-kr-semantic-button-font-style: normal;
  --www-itscard-co-kr-semantic-details-font-family: "Noto Sans KR", Helvetica;
  --www-itscard-co-kr-semantic-details-font-weight: 300;
  --www-itscard-co-kr-semantic-details-font-size: 24px;
  --www-itscard-co-kr-semantic-details-letter-spacing: 0px;
  --www-itscard-co-kr-semantic-details-line-height: 32px;
  --www-itscard-co-kr-semantic-details-font-style: normal;
  --www-itscard-co-kr-semantic-input-font-family: "Noto Sans KR", Helvetica;
  --www-itscard-co-kr-semantic-input-font-weight: 300;
  --www-itscard-co-kr-semantic-input-font-size: 26px;
  --www-itscard-co-kr-semantic-input-letter-spacing: 0px;
  --www-itscard-co-kr-semantic-input-line-height: normal;
  --www-itscard-co-kr-semantic-input-font-style: normal;
  --www-itscard-co-kr-semantic-item-font-family: "Noto Sans KR", Helvetica;
  --www-itscard-co-kr-semantic-item-font-weight: 100;
  --www-itscard-co-kr-semantic-item-font-size: 24px;
  --www-itscard-co-kr-semantic-item-letter-spacing: 0px;
  --www-itscard-co-kr-semantic-item-line-height: 36px;
  --www-itscard-co-kr-semantic-item-font-style: normal;
  --www-itscard-co-kr-semantic-link-font-family: "Noto Sans KR", Helvetica;
  --www-itscard-co-kr-semantic-link-font-weight: 300;
  --www-itscard-co-kr-semantic-link-font-size: 22px;
  --www-itscard-co-kr-semantic-link-letter-spacing: 0px;
  --www-itscard-co-kr-semantic-link-line-height: 28px;
  --www-itscard-co-kr-semantic-link-font-style: normal;
  --www-itscard-co-kr-semantic-strong-font-family: "Inter", Helvetica;
  --www-itscard-co-kr-semantic-strong-font-weight: 700;
  --www-itscard-co-kr-semantic-strong-font-size: 40px;
  --www-itscard-co-kr-semantic-strong-letter-spacing: 0px;
  --www-itscard-co-kr-semantic-strong-line-height: 80px;
  --www-itscard-co-kr-semantic-strong-font-style: normal;
  --www-itscard-co-kr-semantic-term-font-family: "Noto Sans KR", Helvetica;
  --www-itscard-co-kr-semantic-term-font-weight: 300;
  --www-itscard-co-kr-semantic-term-font-size: 26px;
  --www-itscard-co-kr-semantic-term-letter-spacing: 0px;
  --www-itscard-co-kr-semantic-term-line-height: 40px;
  --www-itscard-co-kr-semantic-term-font-style: normal;
  --www-itscard-co-kr-arial-narrow-10-font-family: "Arial", Helvetica;
  --www-itscard-co-kr-arial-narrow-10-font-weight: 400;
  --www-itscard-co-kr-arial-narrow-10-font-size: 10px;
  --www-itscard-co-kr-arial-narrow-10-letter-spacing: 0px;
  --www-itscard-co-kr-arial-narrow-10-line-height: 16px;
  --www-itscard-co-kr-arial-narrow-10-font-style: normal;
}
